.textGradient {
    background: linear-gradient(180deg, #FFF 58.78%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }