.background {
    background-color: #202020;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background > h1 {
    font-size: 48px;
    margin-top: 4rem;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
}

.loginContainer {
    margin-top: calc(100px - 6rem);
    color: #fff;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputChakra {
    margin-top: 0.5rem;
    width: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #2D3748; /* This is the color "gray.700" in Chakra UI */
    background-color: #F7FAFC; /* This is the color "gray.100" in Chakra UI */
    border: 1px solid #E2E8F0; /* This is the color "gray.300" in Chakra UI */
    border-radius: 0.25rem; /* 4px */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputChakra:focus {
    border-color: #3182CE; /* This is the color "blue.500" in Chakra UI */
    box-shadow: 0 0 0 2px #0099FF; /* This is the color "blue.100" in Chakra UI */
    outline: none;
}

.inputChakra::placeholder {
    color: #A0AEC0; /* This is the color "gray.500" in Chakra UI */
}

.inputChakra:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.styledButton {
    margin-top: 2rem;
    background: #474747;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    width: 85%;
    height: 42px;
    border: none;
    transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out;;
}

.styledButton:hover {
    background: #5e5e5e;
    cursor: pointer;
}

.styledButton:focus {
   box-shadow: 0 0 0 2px #0099FF;
   outline: none;
}

.error {
    margin-top: 1rem;
    color: #FF0000;
    font-weight: 400;
    font-size: 20px;
}

.success {
    margin-top: 1rem;
    color: #00FF00;
    font-weight: 400;
    font-size: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .spinner {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 0.5s linear infinite;
    margin: 0 auto;
  }

@media (max-width: 460px) {
    .background > h1 {
        font-size: 36px;
    }
}
